.odin-recipes {
    background-color: rgb(232, 255, 202);
    text-align: center;
}

.pan-fried-shrimp {
    background-color: rgb(255, 229, 165);
}

.burger {
    background-color: rgb(200, 242, 255);
}

.chicken {
    background-color: rgb(208, 200, 255);
}

body {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.recipe-list {
    font-size: 22px;
    font-weight: 600;
    list-style: none;
}

.recipe-list a {
    text-decoration: none;
}

.shrimp-recipe {
    background-color: rgb(255, 229, 165);
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
}